<form class="form" action="/answer" data-turbo="false">
    <p class="subheader">Ask your coach something:</p>
    <div class="input-button">
        <input class="input" type="text" name="state">
        <input class="button" type="submit" value="Ask!">
    </div>
</form>